@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    font-family: "Crimson Text", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/img.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(15px);
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #e2e2e2;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.lembrar-senha {
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 15px;
}

.lembrar-senha label input {
    accent-color: #fff;
    margin-right: 5px;
}

.lembrar-senha a {
    text-decoration: none;
    color: #fff;
}

.lembrar-senha a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    background: #8a4b99;
    border-radius: 999px;
    box-shadow: #9451a5 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 10px 55px;
    border: 0;
}

.login:hover {
    background-color: #7a4288;
    box-shadow: #874797e7 0 10px 20px -10px;
}

.cadastre-se {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.cadastre-se a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.cadastre-se a:hover {
    text-decoration: underline;
}